<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_fundizzy.mapper.AdminProjectMapper">
	<select id="selectProjectListCount" resultType="int">
		SELECT COUNT(*)
		FROM project_list
		WHERE approve_stat = "accept"
	</select>
	
	<select id="selectProjectList" resultType="ProjectList">
		SELECT *
 		FROM project_list
 		WHERE approve_stat = "request"
 		ORDER BY
 			project_date DESC
 		LIMIT
 			#{startRow}
 			,#{listLimit}
	</select>
	<select id="selectAllProjectList" resultType="map">
		SELECT 
			project_list.project_code,
			project_list.project_title,
			project_list.representative_picture,
			project_list.delete_stat,
			project_date.open_start_date,
			project_date.open_end_date,
			project_date.project_start_date,
			project_date.project_end_date
 		FROM project_list
 		INNER JOIN 
			project_date
		ON
			project_list.project_code = project_date.project_code
 		ORDER BY
 			project_list.project_date DESC
 		LIMIT
 			#{startRow}
 			,#{listLimit}
	</select>
	
	<select id="selectProjectInfo" resultType="map">
		SELECT 
			project_list.project_title, 
		    project_list.representative_picture, 
		    project_list.service_type,
		    project_info.category, 
		    project_info.sub_category,
		    project_info.adult_check, 
		    project_info.target_amount
		FROM
			project_list
		INNER JOIN 
			project_info
		ON
			project_list.project_code = project_info.project_code
		WHERE
			project_list.project_code = #{projectCode}
	</select>
	
	<select id="selectRewardInfo" resultType="Reward">
		SELECT *
		FROM reward
		WHERE project_code = #{projectCode}
	</select>
	
	<select id="selectMakerInfo" resultType="map">
		SELECT
			maker_type,
			registration_card, 
			representative_name, 
			representative_email, 
			business_name, 
			business_number
		FROM 
			project_info
		WHERE project_code = #{projectCode}
	</select>
	
	<update id="projectAccept">
		UPDATE 
			project_list
		SET
			approve_stat = 'accept',
			approved_date = NOW()
		WHERE
			project_code = #{project_code}
	</update>
	
	<update id="projectDeny">
		UPDATE
			project_list
		SET
			approve_stat = 'deny',
			approved_date = NOW()
		WHERE
			project_code = #{project_code}
	</update>
	
	<update id="updateDeleteStat">
		UPDATE
			project_list
		SET
			delete_stat = 'Y'
		WHERE project_code = #{projectCode}
	</update>
	<update id="restoreProject">
		UPDATE
			project_list
		SET
			delete_stat = 'N'
		WHERE project_code = #{projectCode}
	</update>
</mapper>





