<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_fundizzy.mapper.AdminMapper">
	<!-- 사용자 이메일 가져오기 -->
	<select id="selectAdminDBInfo" resultType="map">
		SELECT *
		FROM admin
		WHERE admin_id = #{admin_id}
	</select>
	
	<select id="selectUserInfo" resultType="map">
		SELECT * 
		FROM member
	</select>

	<select id="selectGetRegDate" resultType="map">
		SELECT * 
		FROM member
		ORDER BY reg_date DESC;
	</select>
	
	<select id="selectWithdrawDate" resultType="map">
		SELECT * 
		FROM member
		WHERE member_status = '2' 
		AND withdraw_date IS NOT NULL
		ORDER BY withdraw_date DESC;
	</select>
	
	<insert id="insertAdminInfo">
		INSERT 
		INTO admin
		VALUES (
			#{admin_id}
			, #{admin_passwd}
			, #{admin_name}
			, #{admin_team}
		)
	</insert>
	
	
	
</mapper>