<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.itwillbs.project_fundizzy.mapper.FundHistoryMapper">
 	<select id="selectFundHistoryListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM fund_history
 		WHERE member_email = #{member_email}
 	</select>
 	
 	<select id="selectFundList" resultType="FundHistory">
 		SELECT *
 		FROM fund_history
 		WHERE member_email = #{member_email}
 		ORDER BY
 			fund_idx DESC
 		LIMIT
 			#{startRow}
 			,#{listLimit}
 	</select>
 	
 	<select id="selectFundInfo" resultType="FundHistory">
 		SELECT *
 		FROM fund_history
 		WHERE fund_idx = #{fund_idx}
 	</select>
 	
 	<insert id="insertRefund">
 		INSERT
 		INTO refund
 		VALUES(
 			#{refund_code},
 			#{fund_idx},
 			#{member_email},
 			#{reward_code},
 			#{product_name},
 			#{refund_amound},
 			#{refund_reason},
 			#{refund_img},
 			null,
 			NOW(),
 			null,
 			'REF01',
 			#{project_code},
 			#{payment_code}
 		
 		)
 	</insert>
 	
 	<update id="updateFundHistory">
 		UPDATE
 			fund_history
 		SET
 			refund_stat = 'REF01'
 		WHERE
 			fund_idx = #{fund_idx}
 	</update>
 	
<!--  	회사명 가져오기 (결제)-->
 	<select id="selectBusinessName" resultType="String">
 		SELECT business_name
 		FROM fund_history
 		WHERE project_code = #{project_code}
 	
 	
 	</select>
 </mapper>