<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_fundizzy.mapper.FundHistoryMapper">
 	<select id="selectFundHistoryListCount" resultType="int">
 		SELECT COUNT(*)
 		FROM fund_history
 		WHERE member_email = #{member_email}
 	</select>
 	
 	<select id="selectFundList" resultType="FundHistory">
 		SELECT 
			f.fund_idx,
		    f.project_code,
		    f.member_email,
		    f.project_title,
		    f.representative_picture, 
		    f.product_name, 
		    f.business_name, 
		    f.result_point, 
		    f.send_stat, 
		    f.refund_stat, 
		    f.reward_code,
		    f.purchase_date, 
		    f.refund_date, 
		    f.send_date, 
		    f.product_count, 
		    f.payment_code
 		FROM fund_history f
 		WHERE member_email = #{member_email}
 		ORDER BY
 			fund_idx DESC
 		LIMIT
 			#{startRow}
 			,#{listLimit}
 	</select>
 	
 	<select id="selectFundInfo" resultType="FundHistory">
 		SELECT *
 		FROM fund_history
 		WHERE fund_idx = #{fund_idx}
 	</select>
 	
 	<insert id="insertRefund">
 		INSERT
 		INTO refund
 		VALUES(
 			#{refund_code},
 			#{fund_idx},
 			#{member_email},
 			#{reward_code},
 			#{product_name},
 			#{refund_amound},
 			#{refund_reason},
 			#{refund_img},
 			null,
 			NOW(),
 			null,
 			'REF01',
 			#{project_code},
 			#{payment_code}
 		
 		)
 	</insert>
 	
 	<update id="updateFundHistory">
 		UPDATE
 			fund_history
 		SET
 			refund_stat = 'REF01'
 		WHERE
 			fund_idx = #{fund_idx}
 	</update>
 	
<!--  	회사명 가져오기 (결제)-->
 	<select id="selectBusinessName" resultType="String">
 		SELECT business_name
 		FROM fund_history
 		WHERE project_code = #{project_code}
 	</select>
 	
 	<!-- 배송완료 버튼 클릭 시 상태 변경 -->
 	<update id="updateShipCompleteStatus">
 		UPDATE shipment
 		SET common_code = 'SHI04'
 		WHERE payment_code = #{payment_code}
 	</update>

 	<update id="updateFundHistoryStatus">
 		UPDATE fund_history
 		SET send_stat = 'SHI04'
 		WHERE fund_idx = #{fund_idx}
 	</update>
 	
 	<select id="selectShipInfoList" resultType="map">
 		SELECT *
 		FROM shipment
 		WHERE payment_code = #{payment_code}
 	</select>
 	
 	<delete id="deleteRefundInfo">
 		DELETE 
 		FROM refund
 		WHERE fund_idx = #{fund_idx}
 	</delete>
 	
 	<update id="updateRefundStatus">
 		UPDATE fund_history
 		SET refund_stat = 'N'
 		WHERE fund_idx = #{fund_idx}
 	</update>
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 