<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_fundizzy.mapper.MypageMapper">
	<select id="selectMyProjectList" resultType="ProjectList">
		SELECT *
		FROM project_list
		WHERE member_email = #{id}
		ORDER BY project_date desc
	</select>
	<select id="selectMemberInfo" resultType="Member">
		SELECT *
		FROM member
		WHERE email = #{email}
	</select>
	
	<update id="updateProfile">
		UPDATE member
		SET nickname = #{nickname},
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			introduction = #{introduction}
			<if test="profile != null and profile != ''">
            	,profile = #{profile}
        	</if>
		WHERE email = #{email}
	</update>
	<select id="selectLikeListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			keep
		WHERE email = #{email}
	</select>
	<select id="selectMyLike" resultType="map">
		SELECT 
			keep.project_code,
			keep.email,
			project_story.project_title,
			project_story.representative_picture,
			project_story.project_content,
			project_list.project_date,
			project_info.representative_name
 		FROM keep
 		INNER JOIN 
			project_story
		ON
			keep.project_code = project_story.project_code
 		INNER JOIN 
			project_list
		ON
			keep.project_code = project_list.project_code
 		INNER JOIN 
			project_info
		ON
			keep.project_code = project_info.project_code
		WHERE
			keep.email = #{email}
 		ORDER BY
 			project_list.project_date DESC
 		LIMIT
 			#{startRow}
 			,#{listLimit}
	</select>
	<select id="selectSupportListCount" resultType="int">
		SELECT COUNT(*)
		FROM 
			support
		WHERE
			email = #{email};
	</select>
	<select id="selectMysupport" resultType="map">
		SELECT 
			support.support_tag,
			support.support_content,
			support.support_date,
			project_list.project_title
		FROM
			support
		INNER JOIN 
			project_list
		ON
			support.project_code = project_list.project_code
		WHERE
			email = #{email}
		ORDER BY
			support_date DESC
		LIMIT
			#{startRow},
			#{listLimit}
	
	</select>
	<update id="memberWithdraw">
		UPDATE
			member
		SET
			member_status = '2'
		WHERE
			email = #{email}
	</update>
	
	<update id="updateNotOption">
		UPDATE
			notification_set
		SET
			is_recv_notification = 'N'
		WHERE
			member_email = #{email}
	</update>
</mapper>