<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_fundizzy.mapper.MypageMapper">
	<select id="selectMyProjectList" resultType="ProjectList">
		SELECT *
		FROM project_list
		WHERE member_email = #{id}
		ORDER BY project_date desc
	</select>
	<select id="selectMemberInfo" resultType="Member">
		SELECT *
		FROM member
		WHERE email = #{email}
	</select>
	
	<update id="updateProfile">
		UPDATE member
		SET nickname = #{nickname},
			phone = #{phone},
			introduction = #{introduction}
			<if test="profile != null and profile != ''">
            	,profile = #{profile}
        	</if>
		WHERE email = #{email}
	</update>
</mapper>