<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.project_fundizzy.mapper.ProjectMakerMapper">

	<!--프로젝트 생성 -->
	<insert id="insertNewProject">
		INSERT 
		INTO project_list
		VALUES (
			#{project_num},
			#{common_code},
			#{project_code},
			#{member_email},
			null,
			0,
			NOW(),
			'before',
			null,
			null,
			null,
			null,
			0,
			'N',
			'N',
			'N',
			'N',
			'N',
			'SET01',
			'N',
			0,
			'N'
		)
		
	</insert>
	<select id="selectSettingInfo" resultType="map">
		 	SELECT service_config, project_info_config, story_config, reward_config, maker_config,approve_stat
	        FROM project_list
	        WHERE project_code = #{project_code}
	</select>
	
	<update id="updateServiceType">
		UPDATE project_list
		SET service_config = 'Y',
			service_type = #{service_type}
		WHERE project_code = #{project_code}
	</update>
	
	<select id="selectServiceType" resultType="String">
		SELECT service_type
		FROM project_list
		WHERE project_code = #{project_code}
	</select>
	
	<insert id="insertProjcetInfo">
		INSERT
		INTO project_info
		VALUES (
			#{project_code},
			#{category},
			#{sub_category},
			#{adult_check},
			#{representative_email},
			#{target_amount},
			#{maker_type},
			#{registration_card},
			#{business_number},
			#{business_name},
			#{representative_name},
			#{delivery_fee}
		)
		
	</insert>
	
	
	<insert id="insertReward">
		<selectKey keyProperty="reward_code" resultType="int" order="BEFORE">
 			SELECT IFNULL(MAX(reward_code),0)
 			FROM reward;
 		</selectKey>
		INSERT
		INTO reward
		VALUES (
			#{project_code},
			#{reward_code} + 1,
			#{product_name},
			#{product_desc},
			#{price},
			#{product_limit}
		)
	</insert>
	
	<insert id="insertMakerInfo">
		INSERT
		INTO maker_info
		VALUES (
			#{project_code},
			#{member_email},
			#{maker_name},
			#{maker_email},
			#{maker_phone},
			#{facebook_address},
			#{twitter_address},
			#{instagram_address},
			#{profile_img}
		)
	</insert>
	
	<select id="selectReward" resultType="Reward">
		SELECT *
		FROM reward
		WHERE project_code = #{projectCode}
	</select>
	
	<select id="selectRewardInfo" resultType="Reward">
		SELECT *
		FROM reward
		WHERE reward_code = #{reward_code}
	</select>
	
	<select id="selectMakerInfo" resultType="MakerInfo">
		SELECT *
		FROM maker_info
		WHERE project_code = #{project_code}
	</select>
	
	<select id="selectProjcetInfo" resultType="ProjectInfo">
		SELECT *
		FROM project_info
		WHERE project_code = #{project_code}
	</select>
	
	<select id="selectProjectStory" resultType="ProjectStory">
		SELECT *
		FROM project_story
		WHERE project_code = #{project_code}
	</select>
	
	<update id="updateProjcetInfoConfig">
		UPDATE project_list
		SET project_info_config = 'Y'
		WHERE project_code = #{project_code}
	</update>
	
	<update id="updateRewardConfig">
		UPDATE project_list
		SET reward_config = 'Y'
		WHERE project_code = #{projcet_code}
	</update>
	
	<update id="updateMakerInfoConfig">
		UPDATE project_list
		SET maker_config = 'Y'
		WHERE project_code = #{projcet_code}
	</update>
	
	<update id="updatProjectStorySetting">
		UPDATE project_list
		SET story_config = 'Y',
			project_title = #{projectTitle}
			<if test="representativePicture != null and representativePicture != ''">	
			,representative_picture = #{representativePicture}
			</if>
		WHERE project_code = #{projectCode}
	</update>
	
	<update id="updateProjectList">
		UPDATE project_list
		SET approve_stat = 'request',
			request_approve_date = NOW()
		WHERE project_code = #{projectCode}
	</update>
	
	<update id="updateMakerInfo">
		UPDATE maker_info
		SET maker_name = #{maker_name},
			maker_email = #{maker_email},
			maker_phone = #{maker_phone},
			facebook_address = #{facebook_address},
			twitter_address = #{twitter_address},
			instagram_address = #{instagram_address}
			<if test="profile_img != null and profile_img != ''">
            	,profile_img = #{profile_img}
        	</if>
		WHERE project_code = #{project_code}
	</update>
	
	<update id="updateReward">
		UPDATE reward
		SET product_name = #{product_name},
			product_desc = #{product_desc},
			price =#{price},
			product_limit = #{product_limit}
		WHERE reward_code = #{reward_code}
	</update>
	
	
	<insert id="insertProjectStory">
		INSERT
		INTO project_story
		VALUES(
			#{project_code},
			#{project_title},
			#{representative_picture},
			#{product_picture},
			#{project_content},
			#{project_story},
			#{open_story}
		)
	</insert>
	
	<update id="updateProjectStory">
		UPDATE project_story
		SET project_title = #{project_title},
			<if test="representative_picture != null and representative_picture != ''">	
			representative_picture = #{representative_picture},
			</if>
			<if test="product_picture != null and product_picture != ''">
			product_picture = #{product_picture},
			</if>
			project_content = #{project_content},
			project_story = #{project_story},
			open_story = #{open_story}
		WHERE project_code = #{project_code}
	</update>
	
	<update id="updateProjectInfo">
		UPDATE project_info
		SET category = #{category},
			sub_category = #{sub_category},
			adult_check = #{adult_check},
			representative_email = #{representative_email},
			target_amount = #{target_amount},
			maker_type = #{maker_type},
			<if test="registration_card != null and registration_card != ''">
            	registration_card = #{registration_card},
        	</if>
        	business_number = #{business_number},
        	business_name = #{business_name},
        	representative_name = #{representative_name},
        	delivery_fee = #{delivery_fee}
        WHERE
        	project_code = #{project_code}
			
	</update>
	
	<delete id="deleteReward">
		DELETE
		FROM reward
		WHERE reward_code = #{reward_code}
	</delete>
	
	<select id="selectDate" resultType="map">
		SELECT *
		FROM project_date
		WHERE project_code = #{projectCode}
	</select>
	
	<select id="selectRequestInfo" resultType="String">
		SELECT approve_stat
		FROM project_list
		WHERE project_code = #{projectCode}
	</select>
	
	<insert id="insertProjectDate">
		INSERT
		INTO project_date
		VALUES(
			#{project_code},
			#{open_start_date},
			#{open_end_date},
			#{project_start_date},
			#{project_end_date}
		)
	</insert>
	<update id="updateDateConfig">
		UPDATE
			project_list
		SET date_config = 'Y'
			WHERE project_code = #{projectCode}
	</update>
	
</mapper>










