@charset "UTF-8";

article {
	width:35%;
	text-align: center;
    margin: 0 auto;
	padding: 24px 16px 0;
}

article input[type=button] {
	border-radius: 20px;
	border: 1px solid #C9A7FF;
	font-size: 18px;
	background-color: #fff;
	cursor: pointer;
}

article input[type=button]:hover {
	background-color: #C9A7FF;
}

#title {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.35;
	text-align: left;
	margin-bottom: 40px;
}

.subTitle {
	font-size: 25px;
	font-weight: 700;
	padding-left: 20px;
	text-align: left;
	margin-bottom: 20px;
}

#accountInfoDiv {
	margin-bottom: 20px;
}

.account, #representAccount, .card, #addAccount, #addCard {
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	width: 300px;
	height: 150px;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15); 
	font-weight: 600;
	color: #444; 
	text-align: center;
	padding: 20px;
	position: relative;
	flex-direction: column;
	justify-content: center;
}

.account {
	border: 2px solid #C9A7FF;
	background: linear-gradient(135deg, #F0DBFF, #FAF2FF);
	margin-bottom: 10px;
}

#addAccount {
	border: 4px dashed #C9A7FF;
}

#representAccount {
	border: 2px solid #C9A7FF;
	background: linear-gradient(135deg, #F2F2FF, #DABFFF, #F2F2FF);
	margin-bottom: 10px;
}

.account::before, #representAccount::before{
	font-size: 35px;
	color: #A680FF;
	margin-bottom: 10px;
	display: block;
}

.accountHeader, .cardHeader {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.accountInfo, .cardInfo {
	font-size: 18px;
	letter-spacing: 5px;
	
}

.registRepresentBtn {
	margin-top: 15px;
}

.registRepresentBtn input[type=button]{
	font-size: 16px;
}

.bankName, .companyName {
	display: inline-block;
	font-size: 20px;
}

.bankName img {
	width: 30px;
	vertical-align: bottom;
}

.delete {
	font-size: 18px;
	display: inline-block;
	opacity: 0.7;
	cursor: pointer;
}

.delete:hover {
	opacity: 1;	
}

.delete img {
	width: 18px;
}

.registDate {
	position: absolute;
	bottom: 10px;
	opacity: 0.7;
}

.card {
    border: 2px solid #A0C4FF;
    background: linear-gradient(135deg, #D3E6FF, #EAF6FF, #B0C4DE);

}

.companyName img {
	width: 40px;
	vertical-align: top;
}

#addCard {
	border: 4px dashed #A0C4FF;
}

#addAccount img, #addCard img {
	width: 100px;
	opacity: 0.5;
	margin-top: 30px;
}

/* 여기서 부턴 모달창 관련 css */
.account_modal {
	margin-top: 10px;
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.account_content {
    background-color: #fff;
    margin: 10% 38%; 
    padding: 9px;
    border: 1px solid #888;
    width: 580px; 
    height: 340px; 
    overflow-y: auto;
    text-align: center;
}
.top {
    display: flex;
    justify-content: space-between; /* 제목과 버튼을 양쪽 끝으로 정렬 */
    align-items: center; /* 수직 정렬 */
    margin-top: 16px;
    margin-bottom: 12px;
}

.subject {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-left: 21px;
}

.x {
    border: none;
    background-color: white;
    font-size: 30px;
    cursor: pointer; /* 버튼 클릭 가능하도록 설정 */
    margin-bottom: 6px;
    margin-right: 17px;
}

/* 안내 문구 스타일 */
.top b:last-child {
    font-size: 16px; /* 기본 크기로 유지 */
    font-weight: normal;
    display: block; /* 줄바꿈 적용 */
    margin-top: 5px; /* 제목과 간격 조정 */
}

.support_content p{
	text-align: left;
	padding-left: 20px;
}
.account_list_table table{
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
	border: 1px solid black;
}

.account_list_table {
  border-collapse: collapse; /* 테두리가 겹치지 않도록 설정 */
}

.account_list_table th,
.account_list_table td {
  border: 1px solid black;
}

.support_content #supportContent{
	margin-bottom: 5px;
	width: 90%;
	height: 30px;
	font-size: 17px;
	padding: 9px;
	padding-left: 12px;
}
.support_content .support-submit{
	margin-top: 12px;
	margin-bottom: 12px;
	width: 95%;
	height: 50px;
	font-size: 17px;
}

