@charset "UTF-8";
body {
	background-color: #fff;
}
.purchase-section, .reward-selection, .project-info {
    width: 500px;
}

.purchase-btn {
	width: 80%;
/* 	height: 50px; */
}

.purchase-btn.clicked {
	background-color: #fff;
	color: #495057;
	border: 1px solid #cdd3d8;
	width: 80%;
/* 	height: 50px; */
}

.btn-group {
	gap: 5px;
}

.btn-small {
	flex: none;
    background-color: #fff;
	border: 1px solid #cdd3d8;
	color: #343a40;
/* 	height: 50px; */
}

.btn-small:hover, .purchase-btn.clicked:hover {
	border-color: #adb5bd;
    background-color: #f2f4f6;
    color: #343a40;
}

.content-left, .content-right {
    flex: unset;
}

.support-post {
	width: unset;
}

.content-left {
	width: 100%;	
}

.product {
    width: unset;
    margin: 0 15px;
}

.name {
	width: 350px;
}

.post {
	width : unset;
}












