body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
    background-color: #f5f5f5;
}
.reward-step {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 22px;
    margin-bottom: 20px;
}

.step {
    background-color: #e3ddff;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 13px;
 }
 .step-here{
	 background-color: #c0b0ff;
	 padding: 10px 20px;
	 border-radius: 3px;
	 font-size: 13px;
 
 }

.container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.section-product p {
	font-size: 14px;
	margin-top: 14px;
	margin-bottom: 8px;
}
.section-product h4{
	margin-top: 8px;
	margin-bottom: 8px;
}
.section-price {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.section-price h4{
	margin-top: 8px;
	margin-bottom: 8px;
}
.section-price p {
	font-size: 14px;
	margin-top: 14px;
	margin-bottom: 8px;
}
.two-button{
	display: flex;
}
.two-button button{
  	flex: 1;
    background-color: #9370db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
	margin-left: 5px;
    text-align: center;
    float: right;
    width: auto;
    padding: 0.5em 0em 0.5em 0em; 
    white-space: nowrap; /* 내용 줄바꿈 방지 */
    flex-shrink: 0; /* 내용이 줄어들지 않도록 설정 */
}
