@charset "UTF-8";
body {
	font-family: Arial, sans-serif;
	display: flex;
	margin: 0px;
 }
  .container {
	width: 60%;
	margin: 0 auto;
	background: white;
	padding: 20px;
	border-radius: 8px;
  }
h2 {
    font-size: 24px;
    margin: 0px;
}
label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}
input, textarea {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
.image-upload {
  	width: 150px;
	height: 150px;	
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.multi-upload {
 	width: 150px;
	height: 150px;	
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px dashed #ccc;
	padding: 20px;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
}
.image-upload img {
	width: 50px;
	opacity: 0.5;
}
.toolbar {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.toolbar button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}
.toolbar button:hover {
    background: #ddd;
}
.helper-text {
    font-size: 12px;
    color: gray;
}
.link {
    color: purple;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
.file-upload{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	max-width: 150px;
}
.multi-preview{
 width: 150px;
 height: 150px;
}
.multi-preview-container{
	display: flex;
}
.multi-preview-wrapper{
	margin: 10%;
}
#editor-container {
	height: 300px;
}
.ai-link{
	color: mediumpurple;
}
#project-summary{
	display: flex;
	justify-content: space-between;
}
#summary{
	height: 150px;
}
.title-section{
	display: flex;
	justify-content: space-between;
}