@charset "UTF-8";
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}
.container {
    width: 50%;
    margin: auto;
}
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.status-box {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status-box button {
    background: #6c5ce7;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.task {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.task .task-title {
    display: flex;
    align-items: center;
}
.task .status {
    margin-left: 10px;
    color: #777;
}
.task .progress-bar {
    width: 5px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}
.progress-complete { background: purple; }
.progress-incomplete { background: lightgray; }
.task button {
    background: white;
    border: 1px solid #6c5ce7;
    color: #6c5ce7;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
  .main{
	width: 100%;
  }
.top{
    height: 7%;
	border-bottom: 1px solid #ddd;
	display: flex;
}
.top-text{
  	height: 100%;
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}
  