<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.ProjectListVO" alias="ProjectList"/>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.BankToken" alias="bankToken"/>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.RewardVO" alias="Reward"/>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.MakerInfoVO" alias="MakerInfo"/>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.ProjectInfoVO" alias="ProjectInfo"/>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.NewsVO" alias="news"/>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.BankAccount" alias="bankAccount"/>
		<typeAlias type="com.itwillbs.project_fundizzy.vo.ProjectStoryVO" alias="ProjectStory"/>
	</typeAliases>
</configuration>















