@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
  width: 100%;
  height: 99%;
  box-sizing: border-box;
  background-color: rgba(147, 112, 219, 0.5);

}

#topBar {
	align-items: center;
	height: 60px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(147, 112, 219, 0.2);
}

#topProfileImg {
	margin-left: 10px;
	height: 80%;
	background-color: #FFF;
	border-radius: 15px;
}

#topProfileImg img {
	height: 100%;
	border-radius: 15px;
}

#titleDiv {
	margin-left: 10px;
}

#roomTitle {
	font-size: 20px;
}

#topProfileEmail {
	font-size: 13px;
	opacity: 0.6;
}

#rename {
	height: 60px;
	margin-left: 3px;
}

#rename img {
	margin-top: 7px;
	width: 30px;
	cursor: pointer;
}

#exit {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    border-radius: 50%;
    background-color: #fff;
    margin-left: auto;
	margin-right: 10px;
	position: relative;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#exit img {
	margin-left: 7px;
	height: 30px;
	cursor: pointer;
}

#dropdownMenu {
	position: absolute;
	z-index: 1;
	top: 50px;
	font-size: 10px;
	width: 50px;
    height: auto;
    overflow: hidden;
    transition: height 0.5s ease;
    
}

#dropdownMenu.closed {
    height: 0;
}

#dropdownMenu button {
	margin-top: 5px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: none;
	background-color: #9370DB;
	color: #FFF;
	font-size: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dropdownMenu button:hover {
	background-color: #6A5ACD;
}

#chatMessageArea {
	height: calc(100% - 60px - 150px);
	overflow-y: auto;
}

#chatInputArea {
	height: 150px;
	background-color: #FFF;
}

#menuBar, #menuBar label {
	height: 35px;
    display: flex;
    align-items: center;
}

#menuBar img {
	margin-left: 10px;
	height: 70%;
    cursor: pointer;
}

#file {
	display: none;
}

#sendBtn {
    margin-left: auto;
    margin-right: 10px;
    height: 80%;
    width: 80px;
    font-size: 16px;
    cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: rgba(147, 112, 219, 0.5);
}

#sendBtn:hover {
	background-color: #9370DB;
}

#chatInput {
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#messageBox {
	font-size: 18px;
	width: 95%;
	height: 90%;
	border: none;
	outline: none;
	resize: none;
}

.message {
	margin: 15px 0;
}

.message.align_center {
	text-align: center;
}

.message.align_center .messageContent {
	background-color: rgba(68, 68, 68, 0.3);
	border-radius: 40px;
	padding: 5px 15px;
	font-size: 13px;
	color: #FFF;
}

.message.align_right {
	justify-content: flex-end;
	padding-right: 20px;
	display: flex;
	text-align: right;
}

.message .messageDiv3 {
	max-width: 71%;
}

.message.align_right .messageContent {
	background-color: #FFEB3B;
	padding: 5px 10px;
	border-radius: 10px;
	margin-bottom: 5px;
	justify-content: flex-end;
	text-align: left;
}

.message.align_right .sendTime {
	font-size: 10px;
	float: right;
}

.message.align_left {
	text-align: left;
	padding-left: 20px;
	display: flex;
}

span {
	display: inline-block;
}

.message .messageDiv1 {
	margin-right: 10px;
}

.receiverImg {
	width: 50px;
	height: 50px;
	background-color: #FFF;
	border-radius: 10px;
}

.receiverImg img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.message .messageDiv2 {
	margin-right: 10px;
	max-width: 70%
}

.receiverNickname {
	margin-bottom: 5px;
}

.message.align_left .messageContent {
	background-color: #FFF;
	padding: 5px 10px;
	border-radius: 10px;
	margin-bottom: 5px;
}

.message.align_left .sendTime {
	font-size: 10px;
	float: left;
}

#modalBackground {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

#modalForChangeName {
	display: none; 
    position: fixed;
    top: 150px;
    left: 55px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    height: 150px;
}

.modalTitle {
	margin-top: 20px;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.inputName {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.inputName:focus {
  outline: none;
}

.buttonGroup input {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background-color: rgba(147, 112, 219, 0.7);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.buttonGroup input:hover {
    background-color: rgba(147, 112, 219, 1);
}
.closeBtn {
    background-color: rgba(147, 112, 219, 0.7);
}
.closeBtn:hover {
    background-color: rgba(147, 112, 219, 1);
}

.chat_img {
    border-radius: 5px;
    background-color: rgba(68, 68, 68, 0.2);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filePreview {
	margin-bottom: 10px;
    text-align: center;
    background-color: #fff;
    width: 80%;
    float: right;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 30px;
} 

#previewTitle {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 10px;
}

#previewBtnGroup input {
	padding: 8px 15px;
	margin: 5px;
	border: none;
	background-color: rgba(147, 112, 219, 0.5);
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

#previewBtnGroup input:hover {
	background-color: rgba(147, 112, 219, 1);
}

#filePreview span {
    margin-bottom: 10px;
	width: 80px;
	height: 80px;
	margin-right: 10px;
 	border-radius: 5px;
    background-color: rgba(68, 68, 68, 0.2);
    padding: 10px;
    border-radius: 5px;
    position: relative; 
    display: inline-block;
}

#filePreview img {
    border-radius: 5px;
	width: 100%;
	height: 100%;
}

.deleteImg {
    position: absolute;
    top: 5px;
    right: 5px; 
    border: none;
    border-radius: 50%; 
    width: 20px; 
    height: 20px; 
    cursor: pointer;
    font-size: 12px; 
    line-height: 20px; 
    text-align: center; 
}

/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 12px; /* 스크롤바 너비 */
    height: 8px; /* 가로 스크롤바 높이 */
}

/* 스크롤바 트랙 (배경) 스타일 */
::-webkit-scrollbar-track {
    background: #f5f5f5; /* 트랙의 배경색 */
    border-radius: 10px; /* 둥근 모서리 */
}

/* 스크롤바 슬라이더 (thumb) 스타일 */
::-webkit-scrollbar-thumb {
    background: #ccc; /* 슬라이더의 색상 */
    border-radius: 10px; /* 둥근 모서리 */
    border: 3px solid #f5f5f5; /* 슬라이더와 트랙 사이 여백 */
}

/* 스크롤바 슬라이더에 마우스를 올렸을 때 스타일 */
::-webkit-scrollbar-thumb:hover {
    background: #999; /* 슬라이더 색상 변화 */
}

/* 스크롤바 슬라이더를 클릭 중일 때 스타일 */
::-webkit-scrollbar-thumb:active {
    background: #666; /* 슬라이더 색상 변화 */
}


