@charset "UTF-8";
.state-container {
/* 	border: 1px solid #ddd; */
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	width: 900px;
	margin: 25px 0;
	padding: 20px;
	background: #fff; /* 배경색 추가 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05); /* 그림자 추가 */
}
.state {
    display: flex;
    flex-direction: column;
    align-items: center;
     display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    position: relative;
}
.subtitle{
	font-size: 14px;
	font-weight: 900;
	color: mediumpurple;
	padding-bottom: 10px;
}
.item-container {
    display: flex;
    align-items: center;
    gap: 4px;
}
.unit {
	font-size: 18px;
	font-weight: normal;
}
.item{
	display: inline-block;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: -1px;
}
.state:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: #ddd; /* 세로선 색상 */
}

.selectDate {
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

#myChart {
	margin: 50px 30px 70px;
}

h3 {
	padding-top: 20px;
}








