@charset "UTF-8";
/* body { */
/*     font-family: Arial, sans-serif; */
/* 	display: flex; */
/* 	margin: 0; */
/* 	color: #343434; */
/* } */
/* .main { */
/* 	width: 100%; */
/* } */
/* .content { */
/* 	width: 90%; */
/*     background: white; */
/*     padding: 20px; */
/*     margin: auto; */
/* } */
/* h1 { */
/* 	margin: 0; */
/* 	font-size: 34px; */
/* 	font-weight: 700; */
/* } */
.status-container {
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}
hr {
    border: 1px solid #ddd;
    margin: 0;
}
.section {
    display: flex;
    padding: 10px;
/*     margin: 10px; */
}
.title {
    font-weight: bold;
    margin-right: 20px;
    width: 150px;
}
.status {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.status div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}
.count {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.count span {
	font-weight: normal;	
	font-size: 16px;
}
.note {
    font-size: 12px;
    color: #666;
    margin-top: 20px;
}
.list-summary {
	font-size: 20px;
}
.list-summary > span:nth-of-type(1) {
	font-weight: 700;
	color: #4d4d4d;
}
.list-summary span:nth-of-type(2) {
	color: #757575;
}
.list-summary span span{
	font-size: 24px;
	font-weight: 700;
	color: mediumpurple;
}


/* 주문 내역 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
input[type=button] {
	background-color: mediumpurple;
	border: none;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	cursor: pointer;
	color: #fff;
}
.details {
    display: none; /* 기본적으로 숨김 */
    background-color: #f9f9f9;
}
.toggle-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
























