@charset "UTF-8";
/* body { */
/*     font-family: Arial, sans-serif; */
/* 	display: flex; */
/* 	margin: 0; */
/* 	color: #343434; */
/* } */
/* .main { */
/* 	width: 100%; */
/* } */
/* .content { */
/* 	width: 90%; */
/*     background: white; */
/*     padding: 20px; */
/*     margin: auto; */
/* } */
/* h1 { */
/* 	margin: 0; */
/* 	font-size: 34px; */
/* 	font-weight: 700; */
/* } */
.status-container {
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
hr {
    border: 1px solid #ddd;
    margin: 0;
}
.section {
    display: flex;
    padding: 20px;
	position: relative;
}
.section:nth-of-type(1)::after {
	content: '';
	display: block;
	width: 95%;
	height: 1px;
	background-color: #ddd;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.title {
    font-weight: bold;
    margin-right: 20px;
    width: 150px;
}
.status {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.status div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}
.count {
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}
.count span {
	font-weight: normal;	
	font-size: 16px;
}
.note {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 50px;
}
.order-summary {
	padding-bottom: 15px;
	font-size: 20px;
}
.order-summary > span:nth-of-type(1) {
	font-weight: 700;
	color: #4d4d4d;
	border-right: 1px solid #ddd;
	padding-right: 10px;
}
.order-summary span:nth-of-type(2) {
	color: #757575;
	letter-spacing: -1.5px;
	font-size: 18px;
}
.order-summary span span{
	font-size: 20px;
	font-weight: 100;
	color: mediumpurple;
}


/* 주문 내역 테이블 */
table {
    width: 1100px;
    border-collapse: collapse;
    border: none;
}
th, td {
	font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
.list th {
	background-color: #f7f7f7;
	padding: 13px;
}
input[type=button] {
	background-color: mediumpurple;
	border: none;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	cursor: pointer;
	color: #fff;
}

.details {
    display: none; 
    background-color: #f9f9f9;
}
.details>td {
	padding: 0;
}
.toggle-btn {
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.toggle-btn button {
	all: unset;
    cursor: pointer;
    padding: 15px;
}
.modal-content {
	z-index: 9000;
	right: 20px;
	bottom: 20px;
	display: none;
	position: fixed;
	background-color: white;
	width: 350px;
	height: 500px;
/* 	padding: 40px; */
	border-radius: 5px;
	border: 1px solid mediumpurple;
}
.modal-close {
	position: absolute;
	z-index: 9999;
	width: 30px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.main {
	position: relative;
}



















